* {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


.site {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  width: 4300px;
  border-top: 2px solid #6c91a6;
  border-bottom: 2px solid #6c91a6;

}

/* -------------------------------- HEADER ---------------------------------- */


header {
  height: 20vh;
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
}

h1 {
 font-family: 'Oswald', sans-serif;
 font-size: 3rem;
 font-weight: 400;
 color: #6c91a6;
 text-transform: uppercase;
 padding-top: 5%
}

/* --------------------------------  NAV ---------------------------------- */

nav {
  width:100vw;
}
  ul {
    list-style-type: none;
    text-align: center;
  }

  nav li {
    display: inline-block;
    color: #6c91a6;
    padding: 2%;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
    color: #6c91a6;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: .8rem;
    text-align: center;
  }

  nav ul li a:hover {
    color: black;
  }

  /* -------------------------------- FOOTER ---------------------------------- */


footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer p {
  position: fixed;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #6c91a6;
  text-transform: uppercase;
}



/* -------------------------------- HOME SECTION ---------------------------------- */

.home {
  width: 300px;
  height: 60vh;
}

.home img {
  height: 60vh;
  z-index: -1;
  position: absolute;
}

.home h2 {
  position: absolute;
  /* padding: 10% 0% 0% 4%; */
  padding: 40px 0 0 20px;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  color: white;
}

.home h3 {
  position: absolute;
  padding: 100px 0 0 22px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.home h4 {
  position: absolute;
  padding: 200px 0 0 50px;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.home h5 {
  position: absolute;
  padding: 220px 0 0 120px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

.home h5 {
  animation: slide1 3s ease-in-out infinite;
  margin-left: 9px;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

/* -------------------------------- ABOUT SECTION ---------------------------------- */


.about {
  width: 540px;
}

.about h2 {
  position: absolute;
  width: 100%;
  top: 205px;
  left: 350px;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  color: #39545e;
}

.aboutimage {
  position: absolute;
  left: 270px;
  top: 350px;
  height: 250px;
  width: auto;

}

figcaption {
  position: absolute;
  width: 100%;
  top: 610px;
  left: 335px;
  font-family: 'Oswald', sans-serif;
  font-size: .4rem;
  color: #6c91a6;
}



.aboutimage {
  filter: blur(0px) grayscale(100%);
  transition: .5s;
}

.about p {
  position: absolute;
  top: 330px;
  left: 500px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: .7rem;
  color: #6c91a6;
  width: 70vw;
  text-align: center;
  text-transform: uppercase;
  max-width: 350px;
}

/* -------------------------------- WORKS SECTION ---------------------------------- */

.works {
  width:1900px;
}

.works .divider {
  width: 8%;
  height: 58vh;
  padding-top: .5%;
}

.works h2 {
  position: absolute;
  top: 205px;
  left: 1050px;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  color: #39545e;
}

.works h3 {
position: absolute;
top: 300px;
left: 1350px;
font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 400;
color: #39545e;
text-shadow: 1px 1px gray;
width: 100%;
}
.works h4 {
position: absolute;
top: 300px;
left: 1870px;
font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 400;
color: #39545e;
text-shadow: 1px 1px gray;
width: 100%;
}
.works h5 {
position: absolute;
top: 300px;
left: 2400px;
font-family: 'Oswald', sans-serif;
font-size: 30px;
font-weight: 400;
color: #39545e;
text-shadow: 1px 1px gray;
width: 100%;
}




section.customgraphics img {
  width: 100px;
}

.digitaldesign {
  position: absolute;
  display: flex;
  top: 360px;
  left: 1300px;
  filter: blur(0px);
  transition: .5s;
}
.customgraphics:hover {
  filter: blur(0px) grayscale(90%);
  transition: .5s
}

section.productdesign img {
  width: 110px;
}

.productdesign {
  position: absolute;
  display: flex;
  align-items: center;
  top: 360px;
  left: 1800px;
  filter: blur(0px);
  transition: .5s;
}


.productdesign:hover {
  filter: blur(0px) grayscale(90%);
  transition: .5s
}

section.digitaldesign img {
  height: 100px;
}
.customgraphics {
  position: absolute;
  display: flex;
  top: 360px;
  left: 2300px;
  filter: blur(0px);
  transition: .5s;
}

.digitaldesign:hover {
  filter: blur(0px) grayscale(90%);
  transition: .5s
}

/* -------------------------------- RESUME SECTION ---------------------------------- */


.resume {
  width: 650px;
}
.resume .divider {
  width: 27%;
  height: 58vh;
  padding-top: 1.5%;
}

 .resume h2 {
  position: absolute;
  top: 205px;
  left: 2950px;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 900;
  font-style: italic;
  color: #39545e;
}

.resume h3 {
  position: absolute;
  top: 280px;
  left: 3050px;
  font-family: 'Oswald', sans-serif;
  font-size: .5rem;
  font-weight: 400;
  font-style: italic;
  color: #87a7b3;
  width: 100%;
}

.resumeimage {
  height: 40vh;
  width: auto;
  position: absolute;
  top: 295px;
  left: 3050px;
  border: 2px solid #39545e;
}



/* -------------------------------- CONTACT SECTION ---------------------------------- */

.contact {
  width: 850px;
}

.contact .divider {
  width: 19%;
  height: 58vh;
  padding-top: 1.5%;
}

.contact h2 {
 position: absolute;
 top: 205px;
 left: 3550px;
 font-family: 'Playfair Display', serif;
 font-size: 3rem;
 font-weight: 900;
 font-style: italic;
 color: #39545e;
 width: 400px;
}

.contact h3 {
  position: absolute;
  top: 330px;
  left: 3600px;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #87a7b3;
  width: 200px;
}
.contact h4 {
  position: absolute;
  top: 350px;
  left: 3600px;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #87a7b3;
  width: 210px;
}

  .contact-form {
    padding: 30px;
    max-width: 500px;
    color: #39545e;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin:0 auto;
    position: absolute;
    left:3900px;
    top: 180px;
  }


  .label_input_wrap {
    display: block;
  }

  .reset input,
  .submit input {
    background: #39545e;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    display: inline;
  }

  .input-section input,
  .input-section textarea  {
    border: 2px solid #39545e;
  }

  .reset,
  .submit {
    display: inline;
  }

  .input-section {
    margin-bottom: 8px;
  }

  input,
  textarea {
    padding: 5px 10px;
    font-family: 'Oswald', sans-serif;
    color: #39545e;
  }



@media (min-width: 700px) {

  header {
    height: 15vh;
  }

  footer {
    height: 15vh;
  }

  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  h1 {
    padding-top: 3%;
    padding-left: 3%;
    font-size: 2rem;
    width: 60vw;
  }

  nav {
    width: 40vw;
    padding-top: 3%;
  }

  .home {
    height: 70vh;
  }

  .works .divider {
    height: 68vh;
  }
  .resume .divider {
    height: 68vh;
  }
  .contact .divider {
    height: 68vh;
  }

  .home img {
    height: 70vh;
  }

  .home h2 {
    padding: 80px 0 0 20px;
  }

  .home h3 {
    padding: 140px 0 0 22px;
  }

  .home h4 {
    padding: 220px 0 0 50px;
  }

  .home h5 {
    padding: 240px 0 0 120px;
  }

  .works h2 {
    font-size: 4rem;
    top: 170px;
  }
  .about h2 {
    font-size: 4rem;
    top: 170px;
  }
  .resume h2 {
    font-size: 4rem;
    top: 170px;
  }
  .contact h2 {
    font-size: 3.5rem;
    top: 170px;
  }
}

@media (min-width: 800px) {

  h1 {
    font-size: 2.7rem;
  }

  nav ul li a {
    font-size: 1rem;
  }
}
